<form>
    <div class="container">
        <div class="row bg-light mt-5 p-3 shadow rounded border">
            <div class="col-lg-6">
                <img src="assets/outcome.JPG" class="img-fluid h-100"/>
            </div>
            <div class="col-lg-6">
                <h1 class="text-center">Register</h1>
                <hr>
                <label>Enter Your Name</label><br/>
                <input type="text" placeholder="Enter Your Name" class="form-control"><br/>

                <label>Email</label><br/>
                <input type="email" placeholder="Enter Email" class="form-control"><br/>

                <label>Enter Your Phone Number</label><br/>
                <input type="number" placeholder="Enter Your Phone Number" class="form-control"><br/>

                <label>Password</label>
                <input type="password" placeholder="Enter Password"  class="form-control"><br/>

                <label>Repeat Password</label>
                <input type="password" placeholder="Repeat Password"  class="form-control">
                <br/>
                <div class="text-center">
                    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
                    <button type="submit"  class="btn btn-primary text-center">Register</button>
                </div>            
                <div class="text-center mt-3">
                    <p>Already have an account? <a href="#">Sign in</a>.</p>
                </div>
            </div>
        </div>
    </div>
</form>